* {
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: content-box
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

    .container .center {
        width: 200px;
        height: 200px;
        border: 1px solid red;
    }