* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

    .container .box {
        width: 200px;
        height: 200px;
        background: red;
    }
