
.container {
    border: 2px dotted;
    margin: 65px
}

    .container .box {
        width: 200px;
        height: 200px;
        margin: 10px;
        color: #fff;
        text-align: center
    }

        .container .box.none {
            display: none;
            background: yellow
        }

        .container .box.inline {
            display: inline;
            background: green
        }

        .container .box.block {
            display: block;
            background: red
        }

        .container .box.inline-block {
            display: inline-block;
            background: blue
        }